In [1]:
# Module Imports
from utils import *

In [2]:
# Constants
movie_data_csv = "C:/Users/kretz/OneDrive/DataSets/movie.csv"
rating_data_csv = "C:/Users/kretz/OneDrive/DataSets/rating.csv"
TITLE = 'title'

In [3]:
# Read Data
movie_df = pd.read_csv(movie_data_csv)
rating_df = pd.read_csv(rating_data_csv)

In [4]:
# Data Transformations etc.
users_id = rating_df["userId"].unique()
movies_id = movie_df["movieId"].unique()

In [11]:
movie_df.head(4)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance

In [6]:
clean_movie_df = clean_raw_movie_data(
    raw_df=movie_df
)

In [9]:
clean_movie_df.head(4)

,movieId,title,genres,clean_title,year
0,1,toy story (1995),Adventure|Animation|Children|Comedy|Fantasy,toy story,1995
1,2,jumanji (1995),Adventure|Children|Fantasy,jumanji,1995
2,3,grumpier old men (1995),Comedy|Romance,grumpier old men,1995
3,4,waiting to exhale (1995),Comedy|Drama|Romance,waiting to exhale,1995

In [7]:
genre_df = get_genre_df(
    raw_df=movie_df
)

In [10]:
genre_df.head(4)

genre,action,adventure,animation,children,comedy,crime,documentary,drama,fantasy,filmnoir,horror,imax,musical,mystery,no_genres_listed,romance,scifi,thriller,war,western
movieId,,,,,,,,,,,,,,,,,,,,
1,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0