In [1]:
import pandas as pd

# Module Imports
from utils import *
from local_files import data_directory

In [2]:
# Constants
movie_data_csv = f"{data_directory}/DataSets/movie.csv"
rating_data_csv = f"{data_directory}/DataSets/rating.csv"
TITLE = 'title'
UID = 'userId'
IID = 'movieId'

In [3]:
# Read Data
movie_df = pd.read_csv(movie_data_csv)
rating_df = pd.read_csv(rating_data_csv)

In [4]:
# Data Transformations etc.
users_id = rating_df[UID].unique()
movies_id = movie_df[IID].unique()

In [5]:
movie_df.head(4)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance

In [6]:
item_df = process_item_df(
    item_df=movie_df,
    item_id_col=IID
)

In [7]:
rating_df.head(3)

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39

In [8]:
item_rating_agg_df = get_agg_feature_df(
    source_df=rating_df,
    ui_id_col=IID,
    agg_feature_col='rating'
)

user_rating_agg_df = get_agg_feature_df(
    source_df=rating_df,
    ui_id_col=UID,
    agg_feature_col='rating'
)

In [9]:
user_rating_agg_df
# TODO: Add genre features like how often they watch X, watch in last 7 Days, etc.

        rating_mean  rating_median  rating_std  rating_min  rating_max
userId
1          3.742857            4.0    0.382284         3.0         5.0
2          4.000000            4.0    1.064581         2.0         5.0
3          4.122995            4.0    0.910427         1.0         5.0
4          3.571429            4.0    0.790151         1.0         5.0
5          4.272727            5.0    0.969464         2.0         5.0
...             ...            ...         ...         ...         ...
138489     3.986842            4.0    0.662579         2.0         5.0
138490     3.556291            4.0    0.868990         1.0         5.0
138491     2.681818            2.5    1.305168         0.5         5.0
138492     4.097561            4.5    0.904171         1.0         5.0
138493     4.172922            4.5    0.775284         0.5         5.0

[138493 rows x 5 columns]

In [10]:
# def get_users(interaction_df: pd.DataFrame, user_id_col: str) -> pd.DataFrame:
#     ret_df = interaction_df[[user_id_col]].drop_duplicates()
#     return ret_df
# 
# 
# def get_items(interaction_df: pd.DataFrame, item_id_col: str) -> pd.DataFrame:
#     ret_df = interaction_df[[item_id_col]].drop_duplicates()
#     return ret_df
# 
# 
# def process_user_df(interaction_df: pd.DataFrame, user_id_col: str) -> pd.DataFrame:
#     pass

In [11]:
targets_df = get_ratings_targets_df(
    ratings_interaction_df=rating_df,
    user_ratings_df=user_rating_agg_df,
    user_id_col=UID,
    item_id_col=IID
)

In [12]:
targets_df

,user_item_rating_mean,rating_mean,rating_median,rating_std,rating_min,rating_max,has_interacted,rating_atleast_3,rating_atleast_4,rating_atleast_5,rating_atleast_user_mean,rating_atleast_user_median
userId,,,,,,,,,,,,
1,3.5,3.742857,4.0,0.382284,3.0,5.0,True,True,True,False,False,False
1,3.5,3.742857,4.0,0.382284,3.0,5.0,True,True,True,False,False,False
1,3.5,3.742857,4.0,0.382284,3.0,5.0,True,True,True,False,False,False
1,3.5,3.742857,4.0,0.382284,3.0,5.0,True,True,True,False,False,False
1,3.5,3.742857,4.0,0.382284,3.0,5.0,True,True,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
138493,4.5,4.172922,4.5,0.775284,0.5,5.0,True,True,True,True,True,True
138493,4.5,4.172922,4.5,0.775284,0.5,5.0,True,True,True,True,True,True
138493,3.0,4.172922,4.5,0.775284,0.5,5.0,True,True,False,False,False,False
138493,5.0,4.172922,4.5,0.775284,0.5,5.0,True,True,True,True,True,True
138493,2.5,4.172922,4.5,0.775284,0.5,5.0,True,True,False,False,False,False